{% extends "layout.html" %}
{% block content %}
    <h1>About Page</h1>
    <p>This was created by NASC S&OP team. This platform may be used to forecast the packages of a list of sort center/region/territory/network/zips. It also may be used for short-term/long-term decision making.</p>
<hr />
    <h2>How it works</h2>
    <p>The forecast is based on Time Series like SARIMAX and Holt-Winters, and built-in package like Prophet based models, that take into account factors like topline demand, upp, holidays etc. that normalize the demand based on zip level volume that is aggregated to determine the overall sort center/region/territory etc. level zips.</p>
<hr />
    <h3>Contact</h3>
    <p>Please reach out to Soumya Roy <strong>(roysoumy@)</strong> for any questions or concerns.</p>
<hr />
    <h4>Weblink</h4>
    <p>The details for using the portal is also available in the link below -</p>
<a href="https://w.amazon.com/bin/view/NASC_Network_Planning_FAAS">Amazon Wiki for FAAS</a>


{% endblock content%}

